
.first{

        position: relative;
        top: 7rem;
       
}
.second{
    display:flex;
    flex-direction: column;
    border:1px solid black;
    padding:20px;
    width: 50%;
    margin: auto;
}

.dash-line{
    border: 1px dotted black;
    width: 45%;
}
.or{
    width: fit-content;
}
.orLineDiv{
    display: flex;
}

.inputfeild{
    padding: 6px;
    margin: 6px;
    border-bottom: 1px solid rgb(223, 218, 218);
}

.buttonLogins{
    width: 50%;
    background-color: black;
    text-align: center;
}
.buttonLogins:hover{
    color:whitesmoke;
    background-color: rgb(207, 18, 18);
}
.buttonLogindiv{
text-align: center;
}

@media only screen and (max-width:750px){
.second{
    width:100%;
}
}








.loginHeading {
    font-weight: bold;
    margin: 0;
}



 .para {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}



a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
} 

.buttonLogin {
    border-radius: 20px;
    border: 1px solid #F2eee3;
    background-color: #F2eee3;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    border-color: red;
}

.buttonLogin:active {
    transform: scale(0.95);
}

.buttonLogin:focus {
    outline: none;
}

.buttonLogin.ghost {
    background-color: transparent;
    border-color: red;
}

.form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.loginInput {
    background-color: #f2eee3;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.containerLogin {
padding: 10px;
    height: 500px;
    overflow: inherit;
    margin: 5px;
    position: relative;
    width: 98%;
    margin: 11px;
    top: 8rem;
    background: #ebdfd1;
    background: linear-gradient(to right, #E4E5E6, #00416A);
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.containerLogin.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    background-color:white;
    z-index: 1;
    padding: 4px;
}

.containerLogin.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
    text-align: center;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.containerLogin.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #F2eee3;
    background: -webkit-linear-gradient(to right, #F2eee3, #e7d4c5);
    background: linear-gradient(to right, #F2eee3, #e7d4c5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: black;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.containerLogin.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.containerLogin.right-panel-active .overlay-left {
    transform: translateX(0);
   
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.containerLogin.right-panel-active .overlay-right {
    transform: translateX(20%);
}

/* .social-container {
    margin: 20px 0;
   
}

.social-container a{
    border: 1px solid red;
    border-radius: 50%;
    display: inline-flex;
   
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    background: #f2eee3;
   
} */
.hideSignIn{
    display: none;
}
.mobileSignupButton{
    display: none;
   margin: 4px;
}
.seticon{
overflow: visible;
}
@media only screen and (max-width:500px){
.sign-in-container{
    width: 100%;
}

.overlay-right{
    display: none;
    top: 100px;
    width: 100%;
}
.overlay{
    background-color: #ebdfd1;
    background: none;
}   
.mobileSignupButton{display: flex;}
}
