.App {
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.toGoTop {

  width: fit-content;
  position: fixed;
  bottom: 10%;
  right: 10%;
  z-index: 2;
  height: 50px;
  text-align: center;
  padding: 5px;
  transition: ease-in-out;
  color: black;
  border-radius: 4px;

  /* From https://css.glass */
  background: rgba(255, 252, 252, 0.938);

    animation: 0.3s ease-in 0s 1 normal none running animation-5f1q21;
      background: rgb(255, 255, 255);
      z-index: 2;
      box-shadow: rgb(17 19 20 / 12%) 0px 2px 4px -2px, rgb(17 19 20 / 12%) 0px 2px 8px;
      cursor: pointer;
}

.toGoTop:hover {
  transform: translateY(-2px);

}
.WithoutFooter{
    box-sizing: border-box;
 
   
}
.footer{
    padding: 4px;
    margin-top: 1rem;
      padding-top: 0px;
/* display: contents;
      position: fixed;
      bottom: 0px; */
          /* height: 2607px; */
          display: none;
}

